drupalphp55devweb:
  build: .
  ports:
    - "82:80"
    - "445:443"
  links:
   - drupalphp55devdb:database
  volumes:
    - ~/.ssh:/home/ubuntu/.ssh
    - ~/.composer:/home/ubuntu/.composer
    - ~/.npm:/home/ubuntu/.npm
    - ~/.npm-packages:/home/ubuntu/.npm-packages
drupalphp55devdb:
  image: mysql:5.5
  volumes_from:
    - mysql-drupal-php55-dev
  environment:
    TERM: xterm
    MYSQL_ROOT_PASSWORD: password
    MYSQL_USER: user
    MYSQL_PASSWORD: password
    MYSQL_DATABASE: drupalphp55dev
